[Interface]
PrivateKey = {{ private_key1 }}
Address = {{ wg_address1 }}
ListenPort = 51820

[Peer]
PublicKey = {{ peer_public_key1 }}
Endpoint = {{ peer_endpoint1 }}:51820
AllowedIPs = {{ allowed_ips1 }}

[Peer]
PublicKey = {{ peer_public_key2 }}
Endpoint = {{ peer_endpoint2 }}:51820
AllowedIPs = {{ allowed_ips2 }}
