[Interface]
PrivateKey = {{ private_key }}
Address = {{ wg_address }}
ListenPort = {{ listen_port }}

[Peer]
PublicKey = {{ peer_public_key }}
Endpoint = {{ peer_endpoint }}:{{ listen_port }}
AllowedIPs = 10.0.0.0/16
