[Interface]
PrivateKey = {{ private_key }}
Address = {{ wg_address_server }}
ListenPort = 51820

{% for peer in peers %}
[Peer]
PublicKey = {{ peer.public_key }}
Endpoint = {{ peer.endpoint }}:51820
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}
