[Interface]
PrivateKey = {{ private_key2 }}
Address = {{ wg_address2 }}
ListenPort = {{port2}}

[Peer]
PublicKey = {{ peer_public_key2 }}
Endpoint = {{ peer_endpoint2 }}:{{port2}}
AllowedIPs = 10.0.0.0/16
